@model List<Tasks.Entities.History>
<style>
    .filter{
        border-radius: 2px;
        border: 2px solid black;
        list-style: none;
        padding: 5px 5px ;
    }
    .filter:hover{
        background-color: white;
        color: black;
    }
</style>
<div class="container p-1">
    <div class="row pt-4">
        <div class="col-2">
            <h1 class="text-primary">History</h1>
            <a href="http://localhost:5236/swagger/index.html" class="filter">Filter</a>
		</div>
	</div>
    <br>
    <table class="table table-bordered table-striped" style="width:50%">
        <thead>
            <tr>
                <th>
                   UserId
                </th>
                <th>
                    OldValue
                </th>                               
                <th>
                    NewValues
                </th>               
                <th>
                    Changed
                </th>
                <th>
                    DateTime
                </th>
                <th>
                    ProductId
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td width="5%">
                        @obj.UserId
                    </td>
                    <td width="5%"> 
                        
                        @obj.OldValues
                    </td>
                    <td width="5%">
                        @obj.NewValues
                    </td>
                    <td width="5%">
                        @obj.Changed
                    </td>
                    <td width="5%">
                        @obj.DateTime
                    </td>
                    <td width="5%">
                        @obj.ProductId
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>

